/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  color: #1B1F21;
}

.layout {
  display: flex;
  height: 100vh;
}

/* Barra LAteral */
.sidebar {
  width: 20%;
  border-right: 1px solid #000000;
  background-color: #E8EBE4;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  gap: 1.5rem;
  color: black;
}

/* Usuario perfil */
.user-status {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
}

.user-info {
  display: flex;
  flex-direction: column;
}

.user-name {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 16px;
}

.status {
  font-size: 12px;
  color: black;
}

/* Botón nuevo chat */
.btn-primary {
  background-color: #A491D2;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 14px;
  border: none;
  padding: 1rem 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: #CDC3E6;
}

/* Lista de chats */
.contact-list {
  padding: 0%;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow-y: auto;
  flex-grow: 1;
}

.contact-item {
  display: flex;
  border:#c4c4c4 1px solid;
  align-items: center;
  gap: 0.8rem;
  background-color: rgba(255, 255, 255, 0.1);
}

.contact-name {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: black;
}

.last-message {
  font-size: 12px;
  color: black;
}

/* Sección principal */
.main {
  flex: 1;
  background-color: #E8EBE4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  text-align: center;
}

.main img {
  max-width: 300px;
  height: auto;
  margin-bottom: 1.5rem;
}

.main h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 1rem;
}

.main p {
  font-size: 16px;
  max-width: 400px;
  color: #444749;
}
